body{
    background-color: rgb(49, 49, 72);
    color: #eee;
    text-align: center;
    margin: 0.5;
    font-family:'Times New Roman', Times, serif;

}

title{
    text-align:center;
}

.SiteBanner{
    color: #fff;
    border-style: solid;
    border-width: 0px;
    border-color: #000;
    margin:0px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FFF;
}

.LoginButton{
    display: block;
    height: 80px;
    width: 100%;
    text-align: center;
    padding: 70px 0px;
    
    background-color: red;
}