body{
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    margin: 0.5;
    font-family:'Times New Roman', Times, serif;
    background-image: url('https://thumbs.gfycat.com/AnchoredSoulfulCapeghostfrog-size_restricted.gif');
        
}

title{
    text-align:center;
}

.navbar {
    width: 100%;
    background-color: #8e92fa;
    overflow: auto;
    border-radius: 30px;
  }

  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background-color: #1029cf71;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
  }
  
  