body{
    background-color: rgb(49, 49, 72);
    color: #eee;
    text-align: center;
    margin: 0.5;
    font-family:'Times New Roman', Times, serif;

}

title{
    text-align:center;
}

.LoginButton{
    color: #FFF;
    text-decoration: solid;
    background-color: #11F;
    border-width: 1%;
    border-color: #FFF;
    border-style: solid;
    width: 8%;
    height: 150%;
    margin: auto;
}